<script>
 // 这是Javascript 的注解
 // 也可写出 ($function(){
  $ (document).ready(function(){ 
  $("#my-click").click(function(){$("#foo").html('<h1>zoo</h1>');
  })
</script>

<p>
  <a id="my-click">click me</a>
</p>

<div id="foo" style="border: 1px solid red;">
  <p>bar</p>
</div>
